[submodule "detectron2"]
	path = detectron2
	url = https://github.com/GiaKhangLuu/detectron2.git
[submodule "ultralytics"]
	path = ultralytics
	url = https://github.com/GiaKhangLuu/ultralytics.git
[submodule "CenterNet"]
	path = CenterNet
	url = https://github.com/GiaKhangLuu/CenterNet.git
[submodule "detr"]
	path = detr
	url = https://github.com/GiaKhangLuu/detr.git
